:root {
    --margin-bottom-signup: 1.875rem;
    --margin-top-login: 0.875rem;
    --margin-top-login-title: 3.625rem;
    --line-height-login: 1.25rem;
    --letter-spacing-login: 1px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.form label {
    position: relative;
    height: auto;
}

.input + span {
    position: absolute;
    bottom: -20px;
    left: 0;
}

.form p {
    position: relative;
    width: 100%;
    margin: 0;
}

.form .input {
    display: block;
    min-height: 48px;
    margin: var(--m-1) 0;
    padding-left: var(--p-3);
    color: var(--color-gray-300);
    font-size: var(--font-size-level-4-heading);
    line-height: var(--line-height-input);
    border: 1px solid #6989fe;
    border-radius: var(--border-radius);
    box-shadow: rgb(105 137 254 / 50%) 0 0 10px 0,
        rgb(60 100 244 / 20%) 0 0 0 4px;
}

.input::placeholder {
    color: var(--color-gray-300);
    font-size: var(--font-size-level-4-heading);
    line-height: var(--line-height-input);
}

.input:focus {
    border-color: #00d7bd;
    outline: none;
    box-shadow: rgb(0 215 189 / 50%) 0 0 10px 0, rgb(3 191 217 / 20%) 0 0 0 4px;
}

.input[type="password"] {
    color: var(--color-password);
}

.form p span {
    color: var(--color-white-100);
    font-size: var(--font-size-level-6-heading);
    font-family: var(--font-family);
    font-style: normal;
    line-height: var(--line-height-caption);
}

.form p span:last-child {
    color: red;
    letter-spacing: var(--letter-spacing-login);
}

.forn .input {
    position: relative;
}

.form p img {
    position: absolute;
    top: 44px;
    right: 20px;
    width: 18px;
    cursor: pointer;
}
