.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 45px;
    padding: 0 var(--p-6);
    padding-top: 120px;
    padding-bottom: var(--p-6);
    background-color: var(--color-blue-100);
}

.userProfileContainer {
    padding: var(--p-4) var(--p-8);
    background-color: var(--color-white-100);
    border-radius: var(--b-5);
}
