.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 45px;
    height: 100vh;
    padding-top: 120px;
    padding-bottom: var(--p-6);
    background-color: var(--color-blue-100);
}

.button {
    align-self: start;
    margin-top: 33px;
}

.tabsContainer {
    margin-top: var(--m-4);
}

.userProfileContainer {
    padding: var(--p-4) var(--p-8);
    background-color: var(--color-white-100);
    border-radius: var(--b-5);
}
