@import "@assets/utils";

.container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 310px;
    padding: var(--p-3) var(--p-4);
    background-color: var(--color-white-100);
    border-radius: var(--b-4);
}

.topContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleContainer {
    display: flex;
    flex-direction: column;
}

.title {
    margin: var(--m-2) 0;
    color: var(--color-gray-400);
    font-weight: var(--font-weight-500);
}

.date {
    color: var(--color-gray-200);
    font-size: 12px;
}

.containerLineChart {
    width: 430px;
    height: 208px;
}

@media (max-width: $lg) {
    .containerLineChart {
        width: 372px;
        height: auto;
    }
}

@media (max-width: $sm) {
    .container {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: minmax(240px, 372px);
        min-height: auto;
        padding: var(--p-3) var(--p-3) 0;
    }

    .title {
        margin: 0;
    }

    .containerLineChart {
        max-width: 100%;
        height: auto;
    }

    .topContainer > nav > button {
        padding: 0 var(--p-2);
    }
}
