.body {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    background-color: var(--color-blue-100);
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: var(--container);
    height: 700px;
    padding: 0 var(--p-3);
}

.cardsContainer {
    position: absolute;
    right: -180px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.cardsContainer > :nth-child(2n) {
    margin-top: 30px;
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        height: auto;
        padding: var(--p-6) var(--p-3);
    }

    .cardsContainer {
        position: static;
        grid-template-columns: 2fr 2fr;
        margin-top: 30px;
    }

    .cardsContainer > :nth-child(2n) {
        margin-top: 0;
    }
}

@media (max-width: 992px) {
    .container {
        padding: var(--p-5) var(--p-3);
    }
}

@media (max-width: 768px) {
    .cardsContainer {
        grid-template-columns: 1fr;
    }
}
