@import "@assets/utils";

.body {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    background-color: var(--color-blue-100);
}

.container {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 700px;
}

.cardsContainer {
    position: absolute;
    right: -180px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.cardsContainer > :nth-child(2n) {
    margin-top: 30px;
}

.cardsContainer > *:hover {
    cursor: default;
}

@media (max-width: $lg) {
    .container {
        flex-direction: column;
        height: auto;
        padding: var(--p-5) var(--p-3);
    }

    .cardsContainer {
        position: static;
        grid-template-rows: 2fr 2fr;
        grid-template-columns: repeat(2, minmax(262px, 330px));
        gap: 20px;
        margin-top: 30px;
    }

    .cardsContainer > div {
        width: 100%;
    }

    .cardsContainer > :nth-child(2n) {
        margin-top: 0;
    }
}

@media (max-width: $sm) {
    .cardsContainer {
        grid-template-columns: minmax(288px, 330px);
    }
}
