:root {
    --border-radius: 0.5rem;
    --line-height-label-span: 1.25rem;
    --border-input: 0.1rem;
}

.label {
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--color-gray-200);
    font-weight: var(--font-weight-input-label);
    font-size: var(--font-size-1-button-text);
    font-family: var(--font-family);
    font-style: normal;
    line-height: var(--line-height-input);
}

.inputLabel,
.inputError {
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-level-6-heading);
    font-family: var(--font-family);
    font-style: normal;
    line-height: var(--line-height-label-span);
}

.inputError {
    position: absolute;
    bottom: -20px;
    left: 0;
    color: var(--color-warning);
    font-size: var(--font-size-level-6-heading);
}

.input[type="password"],
.hasError[type="password"] {
    font-family: Verdana, sans-serif;
    letter-spacing: 0.125em;
}

.input,
.hasError {
    display: block;
    height: 48px;
    padding: 0 var(--p-3);
    color: var(--color-blue-600);
    font-weight: var(--font-weight-400);
    font-size: 1rem;
    font-family: var(--font-family);
    font-style: normal;
    line-height: var(--line-height-input);
    border: var(--border-input) solid var(--color-blue-200);
    border-radius: var(--border-radius);
    outline: none;
    transition: box-shadow 0.2s linear;
}

.input:hover {
    border-color: var(--color-blue-300);
}

.input:focus {
    border-color: var(--color-blue-500);
    box-shadow: #3242df33 0 0 0 4px;
}

.hasError {
    border: var(--border) solid var(--color-warning);
    box-shadow: #dc243033 0 0 0 4px;
}

.input::placeholder {
    color: var(--color-gray-200);
    font-family: var(--font-family);
    letter-spacing: normal;
}

.disabled {
    border-color: var(--color-disable);
}

.disabled::placeholder {
    color: var(--color-disable);
}

.inputIcon {
    position: absolute;
    top: 38px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 18px;
    cursor: pointer;
}

.inputIcon:focus-visible {
    outline: none;
}
