.container {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    background: #eff3ff;
}

.contentWrapper {
    width: 100%;
    max-width: 1192px;
    height: max-content;
    margin: var(--m-2) auto;
}

.calendarWrapper {
    display: flex;
    justify-content: flex-end;
}

.budgetInfoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background: white;
    border-radius: 15px;
}

.breadcrumbsWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: var(--p-3);
    background: white;
    border-radius: 15px;
}

.breadcrumbsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editButtonWrapper {
    margin: var(--m-2);
    padding: var(--p-3);
}

.editButton {
    color: var(--color-turquoise-600);
    border-color: var(--color-turquoise-600);
}

.cardsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: var(--p-2);
    border-radius: 15px;
}

.progressWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: var(--m-2);
    padding: var(--p-3);
    background: white;
    border-radius: 15px;
}

.progressContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.periodBudgetWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}

.cartBoxWrapper {
    display: flex;
    gap: 20px;
    margin: var(--m-2);
}

.chartWrapper {
    width: 100%;
    height: 100%;
    margin: var(--m-2) 0;
}
