.select {
    width: 229px;
    height: 48px;
}

.item {
    display: flex;
    align-items: center;
}

.image {
    width: 25px;
    height: 25px;
    margin: 0 var(--m-1);
    border-radius: 50%;
}

.name {
    margin: 0 var(--m-2);
    overflow: hidden;
    color: var(--color-blue-600);
    white-space: nowrap;
    text-overflow: ellipsis;
}
