.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-white-100);
}

.title {
    width: 1192px;
    color: var(--color-blue-600);
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-level-1-heading);
    line-height: var(--line-height-level-1-heading);
    text-align: center;
}

@media (max-width: 992px) {
    .title {
        font-size: var(--font-size-level-2-heading);
        line-height: var(--line-height-level-3-heading);
    }
}

@media (max-width: 576px) {
    .title {
        margin: var(--m-2) 0;
    }
}
