.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 730px;
    padding: 0 var(--p-8);
    overflow: hidden;
    background-color: var(--color-blue-600);
}

.bigBlueBorderCircle {
    position: absolute;
    bottom: 90px;
    left: 30px;
    width: 270px;
    height: 270px;
    border: solid 4px var(--color-blue-500);
    border-radius: 50%;
}

.smallBlueBorderCircle {
    position: absolute;
    right: -35px;
    bottom: 140px;
    width: 140px;
    height: 140px;
    border: solid 4px var(--color-blue-500);
    border-radius: 50%;
}

.bigBlueCircle {
    position: absolute;
    top: 120px;
    left: 400px;
    width: 160px;
    height: 160px;
    background-color: var(--color-blue-500);
    border-radius: 50%;
}

.lightBlueCircle {
    position: absolute;
    top: 100px;
    left: 650px;
    width: 27px;
    height: 27px;
    background-image: var(--gradient-8);
    border-radius: 50%;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
        padding: var(--p-4) 0;
    }

    .container div:nth-child(5) {
        order: 1;
    }

    .container div:nth-child(6) {
        z-index: 1;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .container {
        flex-direction: column;
        height: auto;
        padding: var(--p-4) 0;
    }

    .container div:nth-child(5) {
        order: 1;
    }

    .container div:nth-child(6) {
        z-index: 1;
    }
}

@media (min-width: 993px) and (max-width: 1250px) {
    .container {
        flex-direction: column;
        height: auto;
        padding: var(--p-4) 0;
    }

    .container div:nth-child(5) {
        order: 1;
    }

    .container div:nth-child(6) {
        z-index: 1;
    }
}
