.card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    box-sizing: border-box;
    width: 100%;
    max-width: 280px;
    padding: var(--p-4);
    color: var(--color-gray-400);
    font-family: var(--font-family);
    background: white;
    border-radius: 15px;
}

.title {
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-level-3-heading);
}

.total {
    margin-top: var(--m-3);
    color: var(--color-blue-600);
    font-size: var(--font-size-level-4-heading);
}

.minus {
    color: var(--color-warning);
}
