@import url("../../../../assets/css/variables.css");

:root {
    --font-family: var(--font-family);
    --line-height: var(--line-height-1-button-text);
    --letter-spacing: var(--letter-spacing-2-button-text);
    --transition-time: 0.3s;
    --main-color: var(--brand-color-turquoise);
    --hover-color: var(--brand-color-hover-turquoise);
    --disabled-color: var(--support-color-6-disable);
    --medium-padding: var(--p-05) var(--p-15);
    --small-padding: var(--p-025) var(--p-1);
    --primary-font-size: var(--font-size-1-button-text);
    --primary-font-weight: var(--font-weight-1-button-text);
    --primary-text-color: var(--text-color-white-100);
    --secondary-font-size: var(--font-size-1-button-text);
    --secondary-font-weight: var(--font-weight-1-button-text);
    --secondary-text-color: #01cacc;
    --secondary-hover-text-color: #0be9ee;
    --plain-text-color: var(--brand-color-pink-100);
    --plain-hover-text-color: var(--background-blue-600);
    --plain-font-size: var(--font-size-2-button-text);
    --plain-font-weight: var(--font-weight-2-button-text);
    --round-button-color: var(--brand-color-pink-100);
    --round-button-dimension: 28px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
    font-family: var(--font-family);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.medium {
    padding: var(--medium-padding);
}

.small {
    padding: var(--small-padding);
}

.equalRounded {
    width: var(--round-button-dimension);
    height: var(--round-button-dimension);
    border-radius: 50%;
}

.primary {
    color: var(--primary-text-color);
    font-weight: var(--primary-font-weight);
    font-size: var(--primary-font-size);
    background: var(--main-color);
    border: 2px solid transparent;
}

.primary:hover {
    background: var(--hover-color);
    transition: all var(--transition-time);
}

.primaryDisabled {
    color: var(--primary-text-color);
    font-weight: var(--primary-font-weight);
    font-size: var(--primary-font-size);
    background: var(--disabled-color);
    border: 2px solid transparent;
    cursor: auto;
}

.secondary {
    color: var(--secondary-text-color);
    font-weight: var(--secondary-font-weight);
    font-size: var(--secondary-font-size);
    background: linear-gradient(white, white) padding-box, var(--main-color);
    border: 2px solid transparent;
}

.secondary:hover {
    color: var(--secondary-hover-text-color);
    background: linear-gradient(white, white) padding-box, var(--hover-color);
    border: 2px solid transparent;
    transition: all var(--transition-time);
}

.secondaryDisabled {
    color: var(--disabled-color);
    font-weight: var(--secondary-font-weight);
    font-size: var(--secondary-font-size);
    border: 2px solid var(--disabled-color);
    cursor: auto;
}

.plain {
    color: var(--plain-text-color);
    background: none;
}

.plain:hover {
    color: var(--plain-hover-text-color);
    transition: all var(--transition-time);
}

.plainDisabled {
    color: var(--disabled-color);
    background: none;
    cursor: auto;
}

.round {
    color: var(--primary-text-color);
    background-color: var(--round-button-color);
}
