@import "@assets/utils";

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-radius: var(--b-4);
    box-shadow: 0 2px 10px var(--color-blue-transparent);
    cursor: pointer;
}

.container.big {
    width: 330px;
    height: 230px;
    padding: var(--p-5);
}

.container.medium {
    width: 100%;
    height: 160px;
    padding: var(--p-3);
}

.walletType {
    position: relative;
    z-index: 1;
    color: var(--color-white-100);
    font-weight: var(--font-weight-400);
}

.balance {
    position: relative;
    z-index: 1;
    color: var(--color-white-100);
    font-weight: var(--font-weight-600);
    font-size: var(--line-height-level-4-heading);
}

.container.medium > div > .walletType {
    margin: 0;
}

.container.medium > div > .balance {
    margin: var(--m-3) 0 var(--m-2) 0;
}

.container::before {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.container::after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.title {
    position: relative;
    z-index: 1;
    color: var(--color-white-100);
    font-weight: var(--font-weight-400);
    font-size: 16px;
}

.container.primary {
    width: 100%;
    background-image: var(--gradient-1);
}

.container.primary::before {
    top: -20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--color-blue-500);
}

.container.primary::after {
    right: -45px;
    bottom: -45px;
    width: 150px;
    height: 150px;
    border: 4px solid var(--color-blue-500);
}

.container.secondary {
    background-image: var(--gradient-8);
}

.container.secondary::before {
    right: 70px;
    bottom: -10px;
    width: 50px;
    height: 50px;
    background-image: var(--gradient-8);
}

.container.secondary::after {
    top: -45px;
    right: 20px;
    width: 130px;
    height: 130px;
    border: 4px solid var(--color-turquoise-500);
}

.container.tertiary {
    background-image: var(--gradient-2);
}

.container.tertiary::before {
    right: 70px;
    bottom: -10px;
    width: 60px;
    height: 60px;
    background-color: var(--color-coral-400);
}

.container.tertiary::after {
    top: -65px;
    right: 30px;
    width: 150px;
    height: 150px;
    border: 4px solid var(--color-goldenrod-300);
}

.container.quaternary {
    background-image: var(--gradient-3);
}

.container.quaternary::before {
    bottom: -25px;
    left: 30px;
    width: 60px;
    height: 60px;
    background-color: var(--color-purple-500);
}

.container.quaternary::after {
    top: 30px;
    right: -15px;
    width: 100px;
    height: 100px;
    border: 4px solid var(--color-lavender-300);
}

@media (max-width: $md) {
    .container.big {
        width: auto;
    }
}

@media (max-width: $sm) {
    .container {
        width: 288px;
        height: 210px;
    }
}
