.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
}

.title {
    font-weight: var(--font-weight-600);
    font-size: var(--font-size-level-1-heading);
    line-height: var(--line-height-level-1-heading);
}

.title.primary {
    color: var(--color-white-100);
}

.title.secondary {
    color: #132238;
}

.list_item {
    margin: var(--m-3) 0;
    color: #697484;
    font-size: var(--font-size-level-1-body);
    line-height: var(--line-height-caption);
    list-style: none;
}

.list_item.primary {
    color: var(--color-white-100);
}

.list_item.secondary {
    color: #697484;
}

.list_item::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 4px 10px;
    border-radius: 50%;
}

.list_item.primary::before {
    background: linear-gradient(95.77deg, #29FFE5 -14.06%, #06E1FF 101.51%);
}

.list_item.secondary::before {
    background-image: linear-gradient(96.2deg, #fe66e6 -30.03%, #6933dd 95.13%);
}

.step_button {
    border: 2px solid #fe66e6;
    border-radius: 25px;
}
