.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
}

.title {
    color: #132238;
    font-weight: var(--font-weight-600);
    font-size: var(--font-size-level-1-heading);
    line-height: var(--line-height-level-1-heading);
}

.list_item {
    margin: var(--m-3) 0;
    color: #697484;
    font-size: var(--font-size-level-1-body);
    line-height: var(--line-height-caption);
    list-style: none;
}

.list_item::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 4px 10px;
    background-image: linear-gradient(96.2deg, #FE66E6 -30.03%, #6933DD 95.13%);
    border-radius: 50%;
}