@import "@assets/utils";

.tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: var(--font-family);
    background-color: var(--color-blue-100);
}

.tab {
    display: flex;
    align-items: center;
    height: 55px;
    color: var(--color-blue-600);
    text-decoration: none;
    border-radius: var(--b-2) 0 0 var(--b-2);
    transition: color 0.1s, background-color 0.3s;
}

.title {
    padding: 0 var(--p-4) 0 var(--p-2);
    overflow: hidden;
    line-height: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tab:hover {
    color: var(--color-blue-500);
    background-color: var(--color-white-100);
}

.active {
    color: var(--color-blue-500);
    background-color: var(--color-white-100);
}

@media (max-width: $lg) {
    .title {
        white-space: normal;
    }
}

@media (max-width: $md) {
    .tabs {
        flex-flow: row wrap;
        justify-content: center;
        row-gap: var(--m-2);
        width: auto;
        column-gap: var(--m-3);
    }

    .tab {
        height: auto;
    }

    .title {
        padding: 0;
    }

    .active {
        background-color: transparent;
    }
}

@media (max-width: $sm) {
    .tabs {
        column-gap: var(--m-2);
    }

    .title {
        font-size: var(--font-size-level-6-heading);
        text-align: center;
    }
}
