.body {
    display: grid;
    grid-template-columns: 130px 200px 1fr 120px 100px 110px;
    gap: 5px;
    padding: var(--p-6) var(--p-4) var(--p-6);
}

.note {
    width: 100%;
}

.delete {
    color: var(--color-warning);
    border: var(--border) solid var(--color-warning);
}

.delete:hover {
    color: var(--color-warning);
    border: var(--border) solid var(--color-warning);
}
