.popup div {
    border-radius: 25px;
}

.popup__close {
    position: absolute;
    top: 15px;
    right: 20px;
    color: var(--color-gray-200);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-sub-heading);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0.7;
}

.modalBody {
    width: 967px;
    padding: var(--p-2) var(--p-3);
    color: var(--color-gray-300);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-level-2-body);
    font-style: normal;
    border: none;
}

.modalHeader {
    display: flex;
    width: 100%;
    padding: var(--p-2) var(--p-3);
    font-size: var(--font-size-level-6-heading);
    font-style: normal;
    line-height: var(--line-height-level-4-heading);
    border: none;
}

.modalFooter {
    display: flex;
    justify-content: end;
    border: none;
}

.modalFooter > * {
    height: 32px;
    margin-left: var(--m-2);
}

.cancel {
    gap: var(--b-1);
    width: 127px;
    height: 32px;
    color: var(--color-cancel);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-1-button-text);
    font-style: var(--font-family);
    letter-spacing: var(--letter-spacing-button-text);
    background: var(--color-white-100);
    border: 1px solid var(--color-cancel);
    border-radius: var(--b-2);
}

.green {
    gap: var(--p-1);
    width: fit-content;
    min-width: 40px;
    height: 32px;
    color: var(--color-white-100);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-1-button-text);
    font-style: var(--font-family);
    letter-spacing: var(--letter-spacing-button-text);
    background: linear-gradient(95.77deg, #00d7bd -14.06%, #03bfd9 101.51%);
    border: none;
    border-radius: var(--b-2);
}

button:hover {
    cursor: pointer;
}

