@import "@assets/utils";

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: var(--m-6);
}

.button_delete_icon {
    margin-right: var(--m-3);
}

@media (max-width: $lg) {
    .container {
        margin-top: var(--m-5);
    }
}

@media (max-width: $md) {
    .container {
        grid-template-columns: 1fr;
    }
}
