.section {
    display: flex;
    padding: 15px 60px 30px;
    background: var(--color-white-100);
    border-radius: 25px;
}

@media screen and (min-width: 768px) {
    .section {
        padding: 15px 120px 50px;
    }
}

@media screen and (min-width: 992px) {
    .section {
        padding: 15px 175px 80px;
    }
}

.wrapper {
    flex-grow: 1;
    max-width: 620px;
    background-color: var(--color-white-100);
    border-radius: var(--b-2);
}

.content {
    padding: var(--p-2) var(--p-2) var(--p-3);
}

.mobileBtn {
    display: none;
}

@media screen and (max-width: 767px) {
    .mobileBtn {
        display: block;
    }
}

.title {
    color: var(--color-gray-400);
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-level-3-heading);
    line-height: var(-line-height-level-3-heading);
}

.btn {
    width: 100%;
}

.btnName {
    padding-left: 10px;
}
