:root {
    --color-white-60: #ffffff99;
}

.auth__container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-blue-600);
}

.auth__inside {
    position: relative;
    width: 630px;
    height: 600px;
    margin: 0 auto;
}

.auth__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: calc(var(--p-5) + var(--p-4)) calc(var(--p-4) * 5);
    background: var(--gradient-1);
    border-radius: 26px;
}

.auth__logo {
    position: absolute;
    top: -12vh;
    left: 50%;
    z-index: 1;
    width: 4.5rem;
    height: 4.5rem;
    background: var(--gradient-6);
    border-radius: 50%;
    transform: translate(-50%, 0);
}

.auth__roundlarge {
    position: absolute;
    top: 50%;
    left: -94px;
    z-index: 0;
    width: 118px;
    height: 118px;
    background-color: var(--color-pink-100);
    border-radius: 50%;
    transform: translate(0, -50%);
}

.auth__roundsmall {
    position: absolute;
    top: 22px;
    right: -112px;
    width: 36px;
    height: 36px;
    background-color: var(--color-pink-100);
    border-radius: 50%;
}

.auth__ring {
    position: absolute;
    right: -124px;
    bottom: -98px;
    width: 326px;
    height: 326px;
    border: 6px solid var(--color-pink-100);
    border-radius: 50%;
}

.auth__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.auth__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth__header h2 {
    margin: 0;
    color: var(--color-white-100);
    font-weight: 500;
    font-size: var(--font-size-level-2-heading);
    line-height: var(--line-height-sub-heading);
}

.auth__header a {
    color: var(--color-white-100);
    font-size: var(--font-size-level-6-heading);
    text-decoration: none;
}

.auth__header a:hover {
    text-decoration: underline;
}

.auth__body {
    margin-top: 30px;
    margin-bottom: 40px;
}

.auth__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.auth__footer p {
    margin: 0;
    color: var(--color-white-60);
    font-size: var(--font-size-level-6-heading);
    line-height: var(--line-height-level-2-body-semi-bold);
}

.auth__social {
    display: flex;
    gap: 0.5rem;
}

.auth__social img {
    cursor: pointer;
}
