.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    max-width: 600px;
}

.formWrapper > * {
    margin-bottom: 20px;
}

.wrapperHalf {
    display: grid;
    grid-template-columns: calc(50% - 8px);
    width: 100%;
}

.wrapperHalf > div {
    width: auto;
}

.sumRow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--m-3);
    width: 100%;
}

.label {
    color: var(--color-gray-200);
    font-weight: var(--font-weight-400);
    font-size: 16px;
    font-family: var(--font-family);
    font-style: normal;
    line-height: var(--line-height-label-span);
}

.modalFooter > div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.modalFooter > button,
.modalFooter > div > button {
    width: 150px;
    height: 40px;
}

.header {
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-sub-heading);
}

.title {
    color: var(--color-blue-600);
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-level-3-heading);
}

.calendar {
    margin-top: 20px;
}
