.body {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    background-color: var(--color-blue-100);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: var(--container);
    height: 680px;
    padding: 0 var(--p-3);
}

.chartCardsContainer {
    position: relative;
}

.chartCardTop,
.chartCardBottom {
    position: absolute;
    display: block;
    max-width: 420px;
}

.chartCardTop {
    right: 150px;
    bottom: -20px;
}

.chartCardBottom {
    top: 0;
    right: -40px;
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        height: auto;
        padding: var(--p-5) var(--p-3);
    }

    .chartCardsContainer {
        position: inherit;
        display: flex;
        gap: 20px;
    }

    .chartCardTop,
    .chartCardBottom {
        position: inherit;
    }
}

@media (max-width: 992px) {
    .chartCardsContainer {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .chartCardsContainer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: minmax(288px, 420px);
    }
}
