.body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 1192px;
    margin: 0 auto;
    padding: 90px var(--p-3);
    background-color: var(--color-white-100);
}

.carouselContainer {
    display: flex;
    justify-content: space-between;
    gap: var(--m-5);
}

.title {
    margin-top: 0;
    color: var(--color-navy-900);
    font-size: var(--font-size-level-1-heading);
    line-height: var(--line-height-level-1-heading);
}

@media (max-width: 1200px) {
    .container {
        height: auto;
        padding: var(--p-6) var(--p-3);
    }

    .carouselContainer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: minmax(288px, 420px);
        gap: var(--m-4);
        padding: var(--p-4) 0 0;
    }

    .carouselContainer > div {
        width: 500px;
    }
}

@media (max-width: 992px) {
    .container {
        padding: var(--p-5) var(--p-3);
    }

    .carouselContainer > div {
        width: 450px;
    }

    .title {
        font-size: var(--font-size-level-2-heading);
        line-height: var(--line-height-level-3-heading);
    }
}

@media (max-width: 768px) {
    .carouselContainer > div {
        width: 400px;
    }

    .title {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .carouselContainer > div {
        width: 100%;
    }

    .carouselContainer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: minmax(288px, 420px);
    }
}
