:root {
    --font-height-input: 2.25rem;
    --border-input: 1px
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    width: 100vw;
    pointer-events: none;
    background: #00000099;
    opacity: 0;
}

.active{
    opacity: .6;
    pointer-events: all;
}

.title {
    color: var(--color-gray-300);
    font-weight: var(--font-weight-600);
    font-size: 14px;
}

.formWrapper {
    position: relative;
    transition: z-index 0.35s step-end;
}

.formActive {
    position: relative;
    z-index: 51;
    transition: z-index 0.35s step-start;
}

.form {
    position: relative;
    margin: 0 -15px;
    padding: 15px;
    background: white;
    border-radius: 8px;
}

.nameTree {
    width: 100%;
}

.nameFour {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

@media screen and (min-width: 768px) {
    .wrapperIconSettings {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        max-width: 100%;
    }

    .selectIcon, .selectIconColor{
        flex-basis: 50%;
        max-width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .wrapperIconSettings {
        flex-basis: 25%;
        max-width: 25%;
    }

    .categoryName {
        flex-basis: 33.3%;
        max-width: 33.3%;
        padding-bottom: 10px;
    }

    .wrapperType {
        flex-basis: 16.6%;
        max-width: 16.6%;
    }

    .wrapperBtn {
        flex-basis: 25%;
        max-width: 25%;
        padding-bottom: 10px;
    }
}

.mob {
    flex-basis: 100%;
    max-width: 100%;
}

.customInput {
    height: 38px;
    margin: 0;
    padding: 0 8px;
    color: #324c5b;
    font-weight: var(--font-weight-400);
    line-height: var(--font-height-input);
    border: var(--border-input) solid var(--color-blue-200);
    border-color: #e5ebee;
}

.inputLabel {
    margin: 0;
    color: #7b93a4;
    font-size: var(--font-size-level-2-body);
}

.customInput:active,
.customInput:focus,
.customInput:hover {
    border-color: #bbcdd8;
}

.btn {
    width: 100%;
    height: 38px;
}

.btnName{
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-level-2-body);
}
