:root {
    --font-height-input: 2.25rem;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    width: 100vw;
    pointer-events: none;
    background: #00000099;
    opacity: 0;
}

.active{
opacity: .6;
pointer-events: all;
}

.formWrapper {
    position: relative;
    transition: z-index 0.35s step-end;
}

.formActive {
    position: relative;
    z-index: 51;
    transition: z-index 0.35s step-start;
}

.form {
    position: relative;
    margin: 0 -15px;
    padding: 15px;
    background: white;
    border-radius: 8px;
}

.nameTree {
    width: 100%;
}

.nameFour {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    .wrapperIconSettings {
        flex-basis: 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .wrapperIconSettings {
        flex-basis: 25%;
        max-width: 25%;
    }
}

.mob {
    flex-basis: 100%;
    max-width: 100%;
}

@media screen and (min-width: 992px) {
    .customIcon {
        flex-basis: 25%;
        max-width: 25%;
    }
}

@media screen and (min-width: 992px) {
    .categoryName {
        flex-basis: 33.3%;
        max-width: 33.3%;
    }
}

.label {
    height: 100%;
    font-size: var(--font-size-caption);
}

.customInput {
    height: 36px;
    padding: 0 8px;
    color: #324c5b;
    font-weight: var(--font-weight-400);
    line-height: var(--font-height-input);
    border-color: #e5ebee;
}

.inputLabel {
    color: #7b93a4;
    font-size: var(--font-size-level-2-body);
}

.customInput:active,
.customInput:focus,
.customInput:hover {
    border-color: #bbcdd8;
}

.customInput:focus {
    box-shadow: none;
}

.btn {
    width: 100%;
}

.btnName{
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-level-2-body);
}

@media screen and (min-width: 992px) {
    .wrapperType {
        flex-basis: 16.6%;
        max-width: 16.6%;
    }

    .wrapperBtn {
        flex-basis: 25%;
        max-width: 25%;
    }
}
