.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 380px;
    background-color: var(--color-blue-100);
}

.title {
    width: 600px;
    color: var(--color-blue-600);
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-level-1-heading);
    line-height: var(--line-height-level-2-heading);
}

.form {
    display: flex;
    column-gap: 20px;
}

.inputLabel {
    height: 100%;
    height: calc(100% + 4px);
    margin: 0;
}

.input {
    width: 290px;
    padding: 0.5rem;
    border: double 2px var(--color-turquoise-500);
    border-radius: 6px;
}

.input:focus {
    background-image: none;
    border-color: var(--color-turquoise-600);
}

.formContainer {
    display: flex;
    align-items: center;
    height: 40px;
    column-gap: 20px;
}

@media (max-width: 768px) {
    .title {
        width: auto;
        font-size: var(--font-size-level-4-heading);
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .title {
        font-size: var(--font-size-level-3-heading);
    }
}

@media (min-width: 993px) and (max-width: 1300px) {
    .title {
        font-size: var(--font-size-level-2-heading);
    }
}
