.body {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--color-blue-100);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--container);
    padding: 90px var(--p-3);
}

.title {
    width: 600px;
    margin-top: 0;
    color: var(--color-blue-600);
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-level-1-heading);
    line-height: var(--line-height-level-2-heading);
}

.form {
    display: flex;
    column-gap: 20px;
}

.inputLabel {
    height: 100%;
    height: calc(100% + 4px);
    margin: 0;
}

.input {
    width: 288px;
    padding: 0.5rem;
    background-image: linear-gradient(
            var(--color-white-100),
            var(--color-white-100)
        ),
        var(--gradient-3);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: double 3px transparent;
    border-radius: 6px;
}

.input:focus {
    background-image: none;
    border-color: var(--color-blue-500);
}

.formContainer {
    display: flex;
    align-items: center;
    gap: var(--m-3);
    height: 42px;
}

@media (max-width: 1200px) {
    .container {
        padding: var(--p-6) var(--p-3);
    }
}

@media (max-width: 992px) {
    .container {
        padding: var(--p-5) var(--p-3);
    }

    .title {
        width: auto;
        font-size: var(--font-size-level-2-heading);
        line-height: var(--line-height-level-3-heading);
        text-align: center;
    }
}

@media (max-width: 576px) {
    .formContainer {
        flex-direction: column;
        height: auto;
    }
}
