@import "@assets/utils";

:root {
    --p-10: 10px;
}

.authContainer {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    overflow: auto;
    background-color: var(--color-blue-600);
}

.authWrap {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: var(--m-4);
    min-height: 100vh;
    padding-bottom: var(--p-5);
}

.authInside {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: flex-start;
    width: 630px;
}

.authRoundlarge {
    position: absolute;
    top: 50%;
    left: -90px;
    width: 120px;
    height: 120px;
    background-color: var(--color-pink-100);
    border-radius: 50%;
    transform: translate(0, -50%);
}

.authRoundsmall {
    position: absolute;
    top: 20px;
    right: -110px;
    width: 36px;
    height: 36px;
    background-color: var(--color-pink-100);
    border-radius: 50%;
}

.authRing {
    position: absolute;
    right: -120px;
    bottom: 60px;
    width: 320px;
    height: 320px;
    border: 4px solid var(--color-pink-100);
    border-radius: 50%;
}

@media (max-width: $lg) {
    .authInside {
        width: 520px;
    }
}

@media (max-width: $md) {
    .authRoundsmall {
        right: -25px;
    }

    .authRing {
        display: none;
    }
}

@media (max-width: $sm) {
    .authInside {
        width: 100%;
        padding-right: var(--p-2);
        padding-left: var(--p-2);
    }

    .authRoundlarge {
        display: none;
    }

    .authRoundsmall {
        display: none;
    }
}
