.wrapper {
    padding-top: 14px;
    background-color: transparent;
}

.title {
    color: var(--color-gray-400);
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-level-3-heading);
    line-height: var(-line-height-level-3-heading);
}
