:root {
    --color-blue-600: #163676;
    --color-blue-500: #3242df;
    --color-blue-300: #98b2de;
    --color-blue-200: #d7dffe;
    --color-blue-100: #eff3ff;
    --color-turquoise-500: #09e1ff;
    --color-turquoise-600: #03bfd9;
    --color-coral-400: #ff7043;
    --color-goldenrod-300: #fecc66;
    --color-blue-transparent: #386df61f;
    --color-white-transparent: #ffffff00;
    --color-slate-500: #697484;
    --color-purple-500: #9d0fff;
    --color-lavender-300: #9b78ff;
    --color-indigo-700: #561ccb;
    --color-orchid-600: #cf56e3;
    --color-navy-900: #132238;
    --color-gray-400: #130138;
    --color-gray-300: #5a6474;
    --color-gray-200: #9aacbd;
    --color-gray-100: #cbcfd4;
    --color-gray: #eff3ff;
    --color-green-300: #12c48b;
    --color-green-200: #d3f5ed;
    --color-green-100: #e7f9f3;
    --color-green: #01cacc;
    --color-red-300: #f14c52;
    --color-white-100: #ffffff;
    --color-white-60: #ffffff99;
    --color-pink-100: #3242df;
    --color-warning: #dc2430;
    --color-disable: #e5e7ed;
    --color-password: #2f498c;
    --gradient-1: linear-gradient(95.5deg, #284b9f 0%, #102e68 100%);
    --gradient-2: linear-gradient(96.2deg, #fecc66 -30.03%, #f83062 95.13%);
    --gradient-3: linear-gradient(96.2deg, #fe66e6 -30.03%, #6933dd 95.13%);
    --gradient-4: linear-gradient(91.64deg, #fce302 -1.67%, #fe5c01 98.41%);
    --gradient-5: linear-gradient(95.77deg, #09f2d6 -14.06%, #09e1ff 101.51%);
    --gradient-6: linear-gradient(95.77deg, #00d7bd -14.06%, #03bfd9 101.51%);
    --gradient-7: linear-gradient(90deg, #f27a54 0%, #a154f2 186.42%);
    --gradient-8: linear-gradient(95.77deg, #29ffe5 -14.06%, #06e1ff 101.51%);
    --gradient-9: linear-gradient(90deg, #f27a54 -21.05%, #a154f2 121.05%);
    --gradient-10: linear-gradient(95.77deg, #6989fe 100%, #3c64f4 85%);
    --gradient-11: linear-gradient(95.77deg, #e64583 -1.67%, #dc2430 85%);
    --gradient-12: linear-gradient(95.77deg, #9aacbd 100%, #132238 85%);
}
