.body {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--color-blue-600);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--container);
    height: 200px;
    padding: var(--p-4) var(--p-3);
}

.socialMediaIconsContainer {
    position: absolute;
    top: var(--m-4);
    right: var(--m-4);
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--m-2);
    text-decoration: none;
}

.logoImg {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background: var(--gradient-6);
    border-radius: 50%;
}

@media (max-width: 576px) {
    .container {
        height: 180px;
    }
}

.imgLogo {
    width: 70%;
    height: 70%;
}

.logoText {
    color: var(--color-white-100);
    line-height: var(--line-height-level-1-heading);
}
