@import "@assets/utils";

.body {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--color-blue-600);
}

.container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding: var(--p-4) var(--p-3);
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--m-2);
    text-decoration: none;
}

.logoImg {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0 var(--p-2);
    overflow: hidden;
    background: var(--gradient-6);
    border-radius: 50%;
}

.imgLogo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logoText {
    color: var(--color-white-100);
    line-height: var(--line-height-level-1-heading);
}

@media (max-width: $sm) {
    .container {
        height: 180px;
    }
}
