.body {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--color-blue-600);
}

.container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding: var(--p-4) var(--p-3);
}

.socialMediaIconsContainer {
    position: absolute;
    top: var(--m-4);
    right: var(--m-4);
}

.logoContainer {
    display: flex;
    justify-content: center;
}

.logoImg {
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background: var(--gradient-6);
    border-radius: 50%;
}

@media (max-width: 576px) {
    .container {
        height: 180px;
    }
}
