@import "@assets/utils";

.container {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    font-family: var(--font-family);
}

.dashboard {
    padding: var(--p-3);
    background: var(--color-blue-100);
}

.contentWrapper {
    max-width: 1192px;
    margin: 0 auto;
    padding: 0 var(--p-3);
}

.wallets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.filtersDashboard {
    background-color: var(--color-white-100);
}

.barsDashboard {
    flex-grow: 1;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: var(--m-3);
}

.filters label {
    color: #9aacbd;
}

.resetButton {
    padding-top: 25px;
}

.title {
    color: var(--color-gray-400);
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-sub-heading);
    line-height: var(--line-height-sub-heading);
}

.overview {
    margin-top: var(--m-6);
    margin-bottom: 0;
}

.totals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.charts {
    display: grid;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(2, 480px);
    justify-content: center;
    gap: 15px;
    margin-top: var(--m-3);
}

.chart {
    padding: var(--p-3);
    background-color: var(--color-white-100);
    border-radius: var(--b-4);
}

.chartBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.chartTitle {
    color: var(--color-gray-400);
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-level-4-heading);
    font-style: normal;
}

.chartDate {
    color: var(--color-gray-200);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-caption);
    font-family: Poppins, sans-serif;
    line-height: var(--line-height-caption);
}

.walletButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 160px;
    background: var(--color-white-100);
    border-radius: var(--b-4);
}

.walletButtonTitle {
    color: var(--color-blue-600);
}

.smallCalendar {
    display: none;
}

@media (max-width: 450px) {
    .charts .chart {
        width: 370px;
        margin: 0 auto;
    }
}

.walletIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: var(--color-white-100);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-level-2-heading);
    line-height: 0;
    background: var(--color-blue-500);
    border-radius: var(--b-5);
}

.walletIcon:hover {
    opacity: 0.7;
}

@media (max-width: 450px) {
    .charts .chart {
        width: 370px;
        margin: 0 auto;
    }
}

@media (max-width: $md) {
    .charts {
        grid-template-columns: 430px;
    }

    .wallets {
        display: grid;
        grid-template-columns: 430px;
        justify-items: center;
    }

    .filters {
        display: block;
        justify-content: center;
        max-width: 300px;
        margin: 0 auto;
    }

    .smallCalendar {
        display: block;
    }

    .largeCalendar {
        display: none;
    }
}

@media (min-width: $md) and (max-width: $lg) {
    .charts {
        grid-template-columns: repeat(2, 400px);
    }

    .filters {
        justify-content: center;
    }

    .wallets {
        display: grid;
        grid-template-columns: repeat(2, 400px);
        margin: 0 auto;
    }
}

@media (min-width: calc($lg + 1px)) and (max-width: $xl) {
    .charts {
        grid-template-columns: repeat(2, 420px);
    }
}

@media (min-width: calc($xl + 1px)) {
    .charts {
        grid-template-columns: repeat(2, 480px);
    }
}
