.nav_link {
    color: var(--color-white-100);
    font-size: 10px;
    text-decoration: none;
}

.nav_link_active {
    position: relative;
    color: var(--color-white-100);
    font-size: 10px;
    text-decoration: none;
}

.nav_link_active::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #f27a54 0%, #a154f2 186.42%);
    border-radius: 2px;
}
