@import "@assets/utils";

.container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 550px;
}

.title {
    margin: var(--m-3) 0 var(--m-3);
    margin-top: var(--m-4);
    margin-bottom: var(--m-1);
    font-weight: var(--font-weight-600);
    font-size: var(--font-size-level-1-heading);
    line-height: var(--line-height-level-1-heading);
}

.title.primary {
    color: var(--color-white-100);
}

.title.secondary {
    color: var(--color-gray-400);
}

.listItem {
    margin: var(--m-3) 0;
    color: var(--color-slate-500);
    font-size: var(--font-size-level-1-body);
    line-height: var(--line-height-level-1-body);
    list-style: none;
}

.listItem.primary {
    color: var(--color-white-100);
}

.listItem.secondary {
    color: var(--color-slate-500);
}

.list {
    position: relative;
    margin: 0;
    padding-left: var(--p-4);
}

.listItem::before {
    position: absolute;
    left: 0;
    width: 6px;
    height: 6px;
    margin: 11px 0;
    border-radius: 50%;
    content: "";
}

.listItem.primary::before {
    background: var(--gradient-8);
}

.listItem.secondary::before {
    background-image: var(--gradient-3);
}

@media (max-width: $xl) {
    .container {
        width: 450px;
    }
}

@media (max-width: $lg) {
    .title {
        font-size: var(--font-size-level-2-heading);
        line-height: var(--line-height-level-3-heading);
    }
}

@media (max-width: $md) {
    .container {
        width: auto;
    }
}

@media (max-width: 576px) {
    .title {
        margin: var(--m-4) 0 0;
    }

    .list {
        margin-top: 0;
        margin-bottom: 0;
    }
}
