.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

.inputWrapper {
    position: relative;
    width: 100%;
    height: 100px;
    margin: 0;
}

.inputWrapper span:first-child {
    color: white;
}

.inputPages {
    background: linear-gradient(var(--color-white-100), var(--color-white-100))
            padding-box,
        var(--gradient-10);
}

.inputPages:hover {
    box-shadow: rgb(105 137 254 / 50%) 0 0 10px 0,
        rgb(60 100 244 / 20%) 0 0 0 4px;
}

.inputPages:focus {
    background: linear-gradient(var(--color-white-100), var(--color-white-100))
            padding-box,
        var(--gradient-5);
    border: var(--border) solid transparent;
    box-shadow: rgb(0 215 189 / 50%) 0 0 10px 0, rgb(3 191 217 / 20%) 0 0 0 4px;
}

.inputPages[type="password"],
.inputPages[type="text"] {
    padding-right: var(--p-6);
}

.imgWrapper {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 18px;
    height: 16px;
    transform: translateY(-60%);
}

.eye {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.button {
    width: 149px;
    margin-top: var(--m-4);
    padding: var(--p-2) var(--p-4);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-1-button-text);
}
