// :root {
//     --border-radius-login: 1.5625rem;
//     --margin-bottom-signup: 1.875rem;
//     --margin-top-login: 0.875rem;
//     --margin-top-login-title: 3.625rem;
//     --line-height-login: 1.25rem;
//     --letter-spacing-login: 1px;
// }

// .wrapper_login {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 628px;
//     height: 597px;
//     margin: auto;
//     background: var(--gradient-1);
//     border-radius: var(--border-radius-login);
// }

// p {
//     position: relative;
// }

// .wrapper_login form > p {
//     margin: 0;
// }

// .wrapper_login form {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// .title {
//     margin: var(--margin-top-login-title) 0 0 0;
//     color: var(--color-white-100);
//     font-weight: var(--font-weight-500);
//     font-size: var(--font-size-level-2-heading);
//     font-family: var(--font-family);
//     font-style: normal;
//     line-height: var(--line-height-level-2-heading);
// }

// .login_signup {
//     margin-bottom: var(--margin-bottom-signup);
//     color: var(--color-white-100);
//     font-weight: var(--font-weight-400);
//     font-size: var(--font-size-level-6-heading);
//     font-family: var(--font-family);
//     font-style: normal;
//     line-height: var(--line-height-login);
// }

// .login_signup a {
//     color: inherit;
//     text-decoration: none;
// }

// .login_signup a:hover {
//     text-decoration: underline;
// }

// input[name="email"] {
//     width: 390px;
//     min-height: 48px;
//     background: linear-gradient(var(--color-white-100), var(--color-white-100))
//             padding-box,
//         var(--gradient-5);
//     border: var(--border) solid transparent;
// }

// input[name="email"]:focus {
//     outline: none;
//     box-shadow: rgb(0 215 189 / 50%) 0 0 10px 0, rgb(3 191 217 / 20%) 0 0 0 4px;
// }

// input[name="password"] {
//     width: 390px;
//     min-height: 48px;
//     background: linear-gradient(var(--color-white-100), var(--color-white-100))
//             padding-box,
//         var(--gradient-7);
//     border: var(--border) solid transparent;
// }

// input[name="password"]:focus {
//     outline: none;
//     box-shadow: rgb(105 137 254 / 50%) 0 0 10px 0,
//         rgb(60 100 244 / 20%) 0 0 0 4px;
// }

// .eye {
//     position: absolute;
//     right: 20px;
//     bottom: 47px;
//     display: block;
//     width: 17px;
//     height: 15px;
//     cursor: pointer;
// }

// .eye img {
//     position: absolute;
// }

// .hide1 {
//     display: none;
//     margin-top: 1px;
// }

// .button {
//     width: 149px;
//     height: 48px;
//     margin-top: var(--margin-top-login);
//     font-weight: var(--font-weight-400);
//     font-size: var(--font-size-1-button-text);
//     font-family: var(--font-family);
//     font-style: normal;
//     line-height: var(--line-height-input);
//     border-radius: var(--border-radius);
// }

.inputWrapper {
    position: relative;
    width: 100%;
    margin: 0;
}

.eye {
    position: absolute;
    top: 44px;
    right: 20px;
    width: 18px;
    cursor: pointer;
}
