.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 508px;
    height: 36px;
    margin: 0;
    padding: var(--p-1);
    font-family: var(--font-family);
    list-style: none;
    background-color: var(--color-blue-300);
    border-radius: 8px;
}

.tab {
    display: flex;
    align-items: center;
    height: var(--p-4);
    padding: 0 var(--p-4);
}

.tabs li {
    margin-right: var(--m-2);
}

.tabs li:last-child {
    margin-right: 0;
}

.tabs li a {
    color: var(--color-blue-600);
    text-decoration: none;
}

li .active a {
    color: var(--color-pink-100);
    font-weight: var(--font-weight-600);
}

.tabs .active {
    background-color: var(--color-white-100);
    border-radius: 8px;
}

.tabs button {
    background-color: transparent;
    border: none;
}
