@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

@import '../../../../assets/css/variables.css';

.tabs {
    font-family: 'Rubik';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 508px;
    height: 36px;
    background-color: var(--color-blue-300);
    border-radius: 8px;
    margin: 0;
    padding: 6px;
}

.tab {
    display: flex;
    align-items: center;
    height: 24px;
    padding: 0 25px;
}

.tabs li {
    margin-right: 6px;
}

.tabs li:last-child {
    margin-right: 0;
}

.tabs li a {
    text-decoration: none;
    color: var(--color-blue-600);
}

li .active a {
    color: var(--color-pink-100);
    font-weight: 600;
}

.tabs .active {
    background-color: var(--color-white-100);
    border-radius: 8px;
}

.tabs button {
    border: none;
    background-color: transparent;
}
