.step_button {
    background-clip: content-box, border-box;
    background-origin: border-box;
    border: solid 3px transparent;
    border-radius: var(--b-5);
}

.step_button.primary {
    background-image: linear-gradient(
            var(--color-white-transparent),
            var(--color-white-transparent)
        ),
        var(--gradient-8);
    box-shadow: 2px 1000px 1px var(--color-blue-600) inset;
}

.step_button.secondary {
    background-image: linear-gradient(
            var(--color-white-transparent),
            var(--color-white-transparent)
        ),
        var(--gradient-3);
    box-shadow: 2px 1000px 1px var(--color-blue-100) inset;
}

.step_button_text {
    font-weight: var(--font-weight-400);
    letter-spacing: var(--letter-spacing-button-text);
    background-size: 100%;
    /* stylelint-disable */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    /* stylelint-enable */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.step_button_text.primary {
    background-image: var(--gradient-8);
}

.step_button_text.secondary {
    background-image: var(--gradient-3);
}
