.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 310px;
    height: 310px;
}

.title {
    margin: var(--m-3) 0;
    color: var(--color-blue-600);
    font-size: 1.25rem;
}

.input {
    height: 36px;
    margin: var(--m-2) 0;
    padding-left: var(--p-2);
    border: 1px solid var(--color-blue-200);
    border-radius: var(--b-1);
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-appearance: none;
}

.label {
    margin-bottom: var(--m-3);
    color: var(--color-blue-300);
    font-size: 0.9rem;
}

.label:hover {
    cursor: pointer;
}

.button {
    height: 34px;
    color: var(--color-blue-300);
    font-weight: bold;
    font-size: 1.1rem;
    background-color: var(--color-disable);
    border: none;
    border-radius: var(--b-1);
    transition: background-color 0.6s ease, color 0.6s ease;
}

.active {
    color: var(--color-white-100);
    background: var(--gradient-10);
}

.dropdownLabel {
    color: var(--color-blue-300);
}
