.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    color: var(--color-blue-600);
    font-weight: var(--font-weight-600);
    font-size: var(--font-size-level-1-heading);
    line-height: var(--line-height-level-1-heading);
    letter-spacing: var(--letter-spacing-button-text);
}
