.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

.spinner {
    width: 75px;
    height: 75px;
    background-color: transparent;
    border-radius: 50%;
    animation: 0.7s spin linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
