.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 157px;
    background-color: var(--color-white-100);
}

.title {
    color: var(--color-blue-600);
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-level-1-heading);
    line-height: var(--line-height-level-1-heading);
}
