@font-face {
    font-weight: normal;
    font-family: Rubik;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Rubik/Rubik-Regular.eot");
    src: url("../fonts/Rubik/Rubik-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Rubik/Rubik-Regular.woff2") format("woff2"),
        url("../fonts/Rubik/Rubik-Regular.woff") format("woff"),
        url("../fonts/Rubik/Rubik-Regular.ttf") format("truetype"),
        url("../fonts/Rubik/Rubik-Regular.svg#Rubik-Regular") format("svg");
}

@font-face {
    font-weight: normal;
    font-family: Rubik;
    font-style: italic;
    font-display: swap;
    src: url("../fonts/Rubik/Rubik-Italic.eot");
    src: url("../fonts/Rubik/Rubik-Italic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Rubik/Rubik-Italic.woff2") format("woff2"),
        url("../fonts/Rubik/Rubik-Italic.woff") format("woff"),
        url("../fonts/Rubik/Rubik-Italic.ttf") format("truetype"),
        url("../fonts/Rubik/Rubik-Italic.svg#Rubik-Italic") format("svg");
}

@font-face {
    font-weight: 500;
    font-family: Rubik;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Rubik/Rubik-Medium.eot");
    src: url("../fonts/Rubik/Rubik-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Rubik/Rubik-Medium.woff2") format("woff2"),
        url("../fonts/Rubik/Rubik-Medium.woff") format("woff"),
        url("../fonts/Rubik/Rubik-Medium.ttf") format("truetype"),
        url("../fonts/Rubik/Rubik-Medium.svg#Rubik-Medium") format("svg");
}

@font-face {
    font-weight: 600;
    font-family: Rubik;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Rubik/Rubik-SemiBold.eot");
    src: url("../fonts/Rubik/Rubik-SemiBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Rubik/Rubik-SemiBold.woff2") format("woff2"),
        url("../fonts/Rubik/Rubik-SemiBold.woff") format("woff"),
        url("../fonts/Rubik/Rubik-SemiBold.ttf") format("truetype"),
        url("../fonts/Rubik/Rubik-SemiBold.svg#Rubik-SemiBold") format("svg");
}

@font-face {
    font-weight: bold;
    font-family: Poppins;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Poppins/Poppins-Bold.eot");
    src: url("../fonts/Poppins/Poppins-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Poppins/Poppins-Bold.woff2") format("woff2"),
        url("../fonts/Poppins/Poppins-Bold.woff") format("woff"),
        url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype"),
        url("../fonts/Poppins/Poppins-Bold.svg#Poppins-Bold") format("svg");
}

@font-face {
    font-weight: normal;
    font-family: Poppins;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Poppins/Poppins-Regular.eot");
    src: url("../fonts/Poppins/Poppins-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2"),
        url("../fonts/Poppins/Poppins-Regular.woff") format("woff"),
        url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype"),
        url("../fonts/Poppins/Poppins-Regular.svg#Poppins-Regular") format("svg");
}

@font-face {
    font-weight: 500;
    font-family: "DM Sans";
    font-style: normal;
    font-display: swap;
    src: url("../fonts/DMSans/DMSans-Medium.eot");
    src: url("../fonts/DMSans/DMSans-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/DMSans/DMSans-Medium.woff2") format("woff2"),
        url("../fonts/DMSans/DMSans-Medium.woff") format("woff"),
        url("../fonts/DMSans/DMSans-Medium.ttf") format("truetype"),
        url("../fonts/DMSans/DMSans-Medium.svg#DMSans-Medium") format("svg");
}

@font-face {
    font-weight: normal;
    font-family: "DM Sans";
    font-style: normal;
    font-display: swap;
    src: url("../fonts/DMSans/DMSans-Regular.eot");
    src: url("../fonts/DMSans/DMSans-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/DMSans/DMSans-Regular.woff2") format("woff2"),
        url("../fonts/DMSans/DMSans-Regular.woff") format("woff"),
        url("../fonts/DMSans/DMSans-Regular.ttf") format("truetype"),
        url("../fonts/DMSans/DMSans-Regular.svg#DMSans-Regular") format("svg");
}

@font-face {
    font-weight: bold;
    font-family: "DM Sans";
    font-style: normal;
    font-display: swap;
    src: url("../fonts/DMSans/DMSans-Bold.eot");
    src: url("../fonts/DMSans/DMSans-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/DMSans/DMSans-Bold.woff2") format("woff2"),
        url("../fonts/DMSans/DMSans-Bold.woff") format("woff"),
        url("../fonts/DMSans/DMSans-Bold.ttf") format("truetype"),
        url("../fonts/DMSans/DMSans-Bold.svg#DMSans-Bold") format("svg");
}
